.container {
	
}

.container_color_white {
	background-color: $white;
}

.container_color_blue {
	background-color: $blue;
}

.container_color_gray {
	background-color: $gray;
}

.container_color_black {
	background-color: $black;
}

.container_size_big {
	padding: 100px 15px 15px;
	@include media(mobile) {
		padding: 25px 15px 25px;
	}
}

.container_size_normal {
	padding: 50px 15px 50px;
	@include media(mobile) {
		padding: 25px 15px 25px;
	}
}

.container_size_small {

}

.container__inner {
	@include flex(row);
	max-width: 1024px;
	margin: 0 auto;
}

.container__inner_type_noflex {
	display: block;
}