.image {
	max-width: 100%;
	height: auto;
	@include media(mobile) {
		display: none;
	}
}

.image_hidden {
	display: none;
	@include media(mobile) {
		display: block;
	}
}

.image_center {
	align-self: center;
	padding-bottom: 40px;
}

.image_left {
	align-self: flex-start;
	padding-right: 30px;
}

.image_right {
	align-self: flex-end;
	padding-left: 30px;
}