-
	var blocks = [
	{
		'title': 'Обмен с сайтом (интернет-магазином)',
		'subtitle': 'Contabilizare <img src="images/arrow.png" class="title__arrow"/> WEB',
		'text': 'Contabilizare: Обмен с сайтом (интернет-магазином) представляет собой модуль обмена между программой 1С и сайтом (интернет-магазином) на платформе &#171;1С:Битрикс&#187;, данный модуль позволяет выполнять двусторонний обмен номенклатурой, ценами, остатками и характеристиками, а так же заказами покупателей.',
		'image': '/images/block_1_image.png'
	},
	{
		'title': 'При минимальных вложениях',
		'subtitle': 'Новый канал продаж',
		'list': [
			'Интернет магазин на базе стандартной поставки Битрикс &#171;Малый Бизнес&#187;.',
			'Всего за 17000 леев вы получаете новый канал продаж с управлением из одного центра (информационной базы).',
			'Вы всегда можете сослаться на интернет ресурс при реализации вашего товара (услуги).'
		],
		'image': '/images/block_2_image.png'
	},
	{
		'title': 'Заявите о себе в сети интернет',
		'thumbnails': [
		{
			'image': '/images/block_3_image_1.png',
			'text': 'Не хотите организовывать интернет-магазин, организуйте витрину ваших товаров (услуг).'
		},
		{
			'image': '/images/block_3_image_2.png',
			'text': 'Товары (услуги) со всеми характеристиками и описаниями автоматически обновляются. Ваши предложения всегда актуальны.'
		},
		{
			'image': '/images/block_3_image_3.png',
			'text': 'Продвижение новинок в сети не требуется дополнительного ресурса.'
		}]
	},
	{
		'title': 'Выгружайте товары и услуги',
		'thumbnails': [
		{
			'text': 'Вся информация хранится<br/>в одной информационной базе',
			'image': '/images/block_4_image.png'
		},
		{
			'text': 'Информация синхронизирована<br/>и однотипна, как в учетной системе,<br/>так и в интернет-магазине',
			'image': ''
		},
		{
			'text': 'Обновление состояния по<br/>вашим предложениям происходит<br/>автоматически. Отсутствует двойной ввод.',
			'image': ''
		}]
	}
	,{
		'title': 'Обменивайтесь заказами покупателей',
		'thumbnails': [
		{
			'text': 'Состояние заказа<br/>автоматически синхронизируется<br/>с интернет-магазином',
			'image': '/images/block_5_image.png'
		},
		{
			'text': 'Заказы автоматически попадают<br/>в информационную базу',
			'image': ''
		},
		{
			'text': 'Весь учет по заказам ведется<br/>в одной информационной базе.<br/>Отсутствует двойной ввод',
			'image': ''
		}]
	},
	{
		'subtitle': 'Управление заказами партнеров',
		'title': 'Электронная заявка',
		'image': '/images/block_6_image.png',
		'imageMobile': '/images/block_6_image_mobile.png',
		'list': [
		'Заказы автоматически<br/>попадают в информационную базу',
		'Состояние заказа автоматически<br/>синхронизируется с интернет-магазином',
		'Весь учет по заказам ведется в одной информационной<br/>базе. Отсутствует двойной ввод'
		]
	}]