* {
	box-sizing: border-box;
}

html {
	font-size: 18px;
	font-family: "FiraSans";
	font-weight: 300;
	line-height: 1.6666666em;
	@include media(mobile) {
		font-size: 17px;
	}
}

body {
	overflow-x: hidden;
}