.boundary {

}

.boundary_type_dotted.boundary_color_blue-gray {
	height: 250px;
	background-color: $gray;
	background-image: url("../images/dotted_blue.png");
	background-repeat: no-repeat;
	background-size: auto auto;
}

.boundary_type_dotted-reverse.boundary_color_white-blue {
	height: 250px;
	background-color: $white;
	background-image: url("../images/dotted_blue_reverse.png");
	background-repeat: no-repeat;
	background-position: 0 -95px;
	background-size: auto auto;
}

.boundary_type_dotted-reverse.boundary_color_black-gray {
	height: 250px;
	background-color: $black;
	background-image: url("../images/dotted_white_reverse.png");
	background-repeat: no-repeat;
	background-position: 0 -95px;
	background-size: auto auto;
}

.boundary_type_slash.boundary_color_gray-white {
	height: 120px;
	border-top: 60px solid $gray;
	border-right: calc(50vw - 17px) solid $gray;
	border-bottom: 60px solid $white;
	border-left: calc(50vw - 17px) solid $white;
	@include media(mobile) {
		height: 30px;
		border-top: 15px solid $gray;
		border-bottom: 15px solid $white;
		border-right: 50vw solid $gray;
		border-left: 50vw solid $white;
	}
}

.boundary_type_slash.boundary_color_darkblue-black {
	height: 120px;
	border-top: 60px solid $dark_blue;
	border-right: calc(50vw - 17px) solid $dark_blue;
	border-bottom: 60px solid $black;
	border-left: calc(50vw - 17px) solid $black;
	@include media(mobile) {
		height: 30px;
		border-top: 15px solid $dark_blue;
		border-bottom: 15px solid $black;
		border-right: 50vw solid $dark_blue;
		border-left: 50vw solid $black;
	}
}

.boundary_type_slash-reverse.boundary_color_white-gray {
	height: 120px;
	border-top: 60px solid $white;
	border-right: calc(50vw - 17px) solid $gray;
	border-bottom: 60px solid $gray;
	border-left: calc(50vw - 17px) solid $white;
	@include media(mobile) {
		height: 30px;
		border-top: 15px solid $white;
		border-bottom: 15px solid $gray;
		border-right: 50vw solid $gray;
		border-left: 50vw solid $white;
	}
}