.footer {
	background-color: #313132;
	padding: 20px 0;
	color: $white;
	@include media(mobile) {
		padding: 0;
	}
}

.footer__inner {
	@include flex(row, space-between, center);
	max-width: 1054px;
	margin: 0 auto;
}

.footer__left {
	@include media(mobile) {
		order: 1;
		width: 100%;
		padding: 15px;
		background-color: #2b2c2d;
	}
}

.footer__right {
	@include flex(row, flex-end, center)
	@include media(mobile) {
		justify-content: center;
		width: 100%;
		padding: 15px;
	}
}

.footer__copyright {
	font-size: 0.8333333333333333rem;
	@include media(mobile) {
		text-align: center;
	}
}

.footer__social {
	@include flex(row, space-between, center);
}

.footer__social-text {
	@include media(mobile) {
		display: none;
	}
}

.footer__social-link {
	display: block;
	height: 35px;
	width: 35px;
	margin-right: 15px;
	cursor: pointer;
}

.footer__social-link_facebook {
	margin-left: 15px;
	background-image: url('../images/facebook_icon.png');
	&:hover, &:focus {
		background-image: url('../images/facebook_icon_hovered.png');
	}
}

.footer__social-link_youtube {
	background-image: url('../images/youtube_icon.png');
	&:hover, &:focus {
		background-image: url('../images/youtube_icon_hovered.png');
	}
}

.footer__separator {
	width: 1px;
	height: 60px;
	background-color: #4f4f4f;
	margin-right: 15px;
}

.footer__contacts {
	
}

.footer__link {
	display: block;
	font-size: 0.8333333333333333rem;
	color: #7bcdf6;
	&:hover, &:focus {
		text-decoration: none;
	}
}