extends templates/_default

block page
	
	//- HEADER
	include ../blocks/header/_header

	//- CONTENT
	.content
		+container("blue", "big")
			+wrapper("small")
				+image(blocks[0].image, "left")
			+wrapper("big")
				+title("white", "", blocks[0].title, blocks[0].subtitle)
				+image(blocks[0].image, "center", "hidden")
				+text("white", blocks[0].text)
		+boundary("dotted", "blue", "gray")
		+container("gray", "normal")
			+wrapper("big")
				+title("black", "", blocks[1].title, blocks[1].subtitle)
				+image(blocks[1].image, "center", "hidden")
				+list(blocks[1].list)
			+wrapper("small")
				+image(blocks[1].image, "right")
		+boundary("slash", "gray", "white")
		+container("white", "normal", "noflex")
			+title("black", "center", blocks[2].title)
			+thumbnails(blocks[2].thumbnails, "simple")
		+boundary("slash-reverse", "white", "gray")
		+container("gray", "normal", "noflex")
			+title("black", "center", blocks[3].title)
			+thumbnails(blocks[3].thumbnails, "clouds")
		+boundary("slash", "gray", "white")
		+container("white", "normal", "noflex")
			+title("black", "center", blocks[4].title)
			+thumbnails(blocks[4].thumbnails, "exchange")
		+boundary("dotted-reverse", "white", "blue")
		+container("dark-blue", "normal" )
			+wrapper("big")
				+title("white", "left", blocks[5].title, blocks[5].subtitle)
				+image(blocks[5].imageMobile, "center", "hidden")
				+list(blocks[5].list, "slanted")
			+wrapper("small")
				+image(blocks[5].image, "right")
		+boundary("slash", "darkblue", "black")
		+container("black", "normal", "noflex")
			+title("white", "center", blocks[6].title)
			+thumbnails(blocks[6].thumbnails, "develop")
		+boundary("dotted-reverse", "black", "gray")
		+container("gray", "normal")
			+wrapper("small")
				+image(blocks[7].image, "left")
			+wrapper("big")
				+title("black", "", blocks[7].title, blocks[7].subtitle)
				+image(blocks[7].image, "center", "hidden")
				+form

	//- FOOTER
	include ../blocks/footer/_footer